<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Mapbox Scripts -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <!-- Mapbox CSS -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="/styles/index.css">
    <title>Event Finder</title>
</head>
<body>
    <div id="mySidebar" class="sidebar">
        <a class="sidebar-text" href="/"><i class="fas fa-home"></i> View all</a>
        <form action="/filter" method="POST">
            <p class="sidebar-text"><i class="fas fa-chart-line"></i> Impact</p>
            <select class="drop-down" name="impact" id="impact">
                <option value=""></option>
                <option value="Minor">Minor</option>
                <option value="Moderate">Moderate</option>
                <option value="Important">Important</option>
                <option value="Significant">Significant</option>
                <option value="Major">Major</option>
            </select>
            <p class="sidebar-text"><i class="fab fa-buromobelexperte"></i></i> Category</p>
            <select class="drop-down" name="category" id="category">
                <option value=""></option>
                <option value="academic">Academic</option>
                <option value="school-holidays">School Holidays</option>
                <option value="public-holidays">Public Holidays</option>
                <option value="observances">Observances</option>
                <option value="politics">Politics</option>
                <option value="conferences">Conferences</option>
                <option value="expos">Expos</option>
                <option value="concerts">Concerts</option>
                <option value="festivals">Festivals</option>
                <option value="performing-arts">Performing Arts</option>
                <option value="sports">Sports</option>
                <option value="community">Community</option>
                <option value="daylight-savings">Daylight Savings</option>
                <option value="airport-delays">Airport Delays</option>
                <option value="severe-weather">Severe Weather</option>
                <option value="disasters">Disasters</option>
                <option value="terror">Terror</option>
                <option value="health-warnings">Health Warnings</option>
            </select>
            <input id="filter-btn" type="submit" value="Filter">
        </form>
    </div>
    <div id="search-tab">
        <button id="sidebarbtn" onclick="sideBar()"><i class="fas fa-bars"></i></button>
        <form action="/" method="POST">
            <input id="search-input" type="text" placeholder="Search..." name="q" required="true">
            <button id="search-icon" type="submit"><i style="color: #ffffff;" class="fa fa-search"></i></button>
        </form>
    </div>
    <div id='map'></div>
<script>
    var toggle = true;
    function sideBar() {
        if (toggle) {
            document.getElementById("mySidebar").style.width = "30vw";
            document.getElementById("sidebarbtn").innerHTML = "<i class='fas fa-times-circle'></i>";
        } else {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("sidebarbtn").innerHTML = "<i class='fas fa-bars'></i>";
        }
        toggle = !toggle;
    }
    function getImpact(local_rank){
        let impact = "";
        if (local_rank <= 20){
            impact = "Minor";
        } else if (local_rank <= 40) {
            impact = "Moderate";
        } else if (local_rank <= 60) {
            impact = "Important";
        } else if (local_rank <= 80) {
            impact = "Significant";
        } else {
            impact = "Major";
        }
        return (impact);
    }
    mapboxgl.accessToken = 'pk.eyJ1IjoiZ29rdWxzdWRoZWVzaCIsImEiOiJja3ZhcXdnbDYwa2pyMm9uemc1aWpxNGh3In0.R8Tas9nUX9-WsZbGtJQrvw';
    const map = new mapboxgl.Map(
        {
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [55.2708, 25.2048],
            zoom: 6.5,
        }
    );
    
    const nav = new mapboxgl.NavigationControl();
    map.addControl(nav, "bottom-right");

    const eventsJSON = JSON.parse("<%- eventsJSON %>");
    console.log(eventsJSON);

    // add markers to map
    for (const event of eventsJSON.events) {
        // create a HTML element for each feature
        const el = document.createElement('div');
        el.className = 'marker';
        el.classList.add(event.category); // Add icon for specific category
        let impact = getImpact(event.local_rank);
        let startDateString = new Date(event.start).toDateString();
        let endDateString = new Date(event.end).toDateString();

        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el).setLngLat(event.location)
        .setPopup(
            new mapboxgl.Popup({ offset: 25 }) // add popups
            .setHTML(
                `<h3>${event.title}</h3>
                ${event.description ? `<p><i style="color: #0000ff;" class="fas fa-info-circle"></i> ${event.description}</p>` : ""}
                <p><i style="color: #d87093;" class="fas fa-circle"></i> Category: ${event.category}</p>                
                <p><i class="fas fa-calendar"></i> ${startDateString}</p>
                <p><i class="fas fa-clock"></i> ${startDateString}, ${event.start.slice(11,16)} to ${endDateString}, ${event.end.slice(11,16)}</p>
                <p><i style="color: #ffa500;" class="fas fa-chart-line"></i> Local Rank: <span class=${impact}>${impact}</span></p>
                ${event.labels ? `<p>${event.labels}</p>` : ""}`
            )
        )
        .addTo(map);
    }
</script>
</body>
</html>