<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Mapbox Scripts -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <!-- Mapbox CSS -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- Style Sheet -->
    <link rel="stylesheet" href="/styles/index.css">
    <title>Event Finder</title>
</head>
<body>
    <div id="search-tab">
        <form action="/" method="POST">
            <input id="search-input" type="text" placeholder="Search..." name="q" required="true">
            <button id="search-icon" type="submit"><i style="color: #ffffff;" class="fa fa-search"></i></button>
        </form>
    </div>
    <div id='map'></div>
<script>
    function getImpact(local_rank){
        let impact = "";
        if (local_rank <= 20){
            impact = "Minor";
        } else if (local_rank <= 40) {
            impact = "Moderate";
        } else if (local_rank <= 60) {
            impact = "Important";
        } else if (local_rank <= 80) {
            impact = "Significant";
        } else {
            impact = "Major";
        }
        return (impact);
    }
    mapboxgl.accessToken = 'pk.eyJ1IjoiZ29rdWxzdWRoZWVzaCIsImEiOiJja3ZhcXdnbDYwa2pyMm9uemc1aWpxNGh3In0.R8Tas9nUX9-WsZbGtJQrvw';
    const map = new mapboxgl.Map(
        {
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [55.2708, 25.2048],
            zoom: 5,
        }
    );
    
    const nav = new mapboxgl.NavigationControl();
    map.addControl(nav, "bottom-right");

    const eventsJSON = JSON.parse("<%- eventsJSON %>");
    console.log(eventsJSON);

    // add markers to map
    for (const event of eventsJSON.events) {
        // create a HTML element for each feature
        const el = document.createElement('div');
        el.className = 'marker';
        el.classList.add(event.category); // Add icon for specific category
        let impact = getImpact(event.local_rank);
        let startDateString = new Date(event.start).toDateString();
        let endDateString = new Date(event.end).toDateString();

        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el).setLngLat(event.location)
        .setPopup(
            new mapboxgl.Popup({ offset: 25 }) // add popups
            .setHTML(
                `<h3>${event.title}</h3>
                ${event.description ? `<p><i style="color: #0000ff;" class="fas fa-info-circle"></i> ${event.description}</p>` : ""}
                <p><i style="color: #d87093;" class="fas fa-circle"></i> Category: ${event.category}</p>                
                <p><i class="fas fa-calendar"></i> ${startDateString}</p>
                <p><i class="fas fa-clock"></i> ${startDateString}, ${event.start.slice(11,16)} to ${endDateString}, ${event.end.slice(11,16)}</p>
                <p><i style="color: #ffa500;" class="fas fa-fire"></i> Local Rank: <span class=${impact}>${impact}</span></p>
                ${event.labels ? `<p>${event.labels}</p>` : ""}`
            )
        )
        .addTo(map);
    }
</script>
</body>
</html>